<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Node File Uploads</title>
</head>

<body>
    <div class="container">
        <h1>File Upload</h1>

        <% videoid.forEach(id => { %>
            <h4><%= id.name %></h4>
            <p><%= id.description %></p>
            <div data-vimeo-id="<%= id.videourl.slice(8); %>" data-vimeo-width="650" id="<%= id.name %>"></div>
        <% }) %>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <% videoid.forEach(id => { %>
    <script>
         var video01Player = new Vimeo.Player('<%= id.name %>');
            video01Player.on('play', function () {
                console.log('Played the first video');
            });
    </script>
    <% }) %>
</body>
</html>